
<!--meli selection-->
<!--///////////////////////////////////////////////////////////
-->
<style type="text/css">


@font-face {
  font-family: 'icons';
  src: url('https://http2.mlstatic.com/resources/frontend/web-vip/ui-dist/fonts/icons-4390e9c3d4.eot');
  src: url('https://http2.mlstatic.com/resources/frontend/web-vip/ui-dist/fonts/icons-4390e9c3d4.eot?#iefix') format('embedded-opentype'),
  url('https://http2.mlstatic.com/resources/frontend/web-vip/ui-dist/fonts/icons-1f301d5e0e.woff2') format('woff2'),
  url('https://http2.mlstatic.com/resources/frontend/web-vip/ui-dist/fonts/icons-8d9e6637d2.woff') format('woff'),
  url('https://http2.mlstatic.com/resources/frontend/web-vip/ui-dist/fonts/icons-90b8f33b8c.ttf') format('truetype'),
  url('https://http2.mlstatic.com/resources/frontend/web-vip/ui-dist/fonts/icons-b05c3fc420.svg?#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.vip-section-reviews .review-listing {
    margin-top: 50px;
    max-height: 460px;
}
  [class*=ch-icon-] {
    color: #666;
}
[class*=ch-icon-] {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: .9em;
    height: 16px;
    width: 16px;
    font-size: 19px;
    margin: 5px;
}

[class*=ch-icon-] {
    width: auto;
    height: auto;
    margin: 0;
}
[class*=ch-btn], [class*=ch-icon-] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ch-icon-star:before {
    content: '\f005';
    
}
.ch-tag:after, [class*=' ch-icon-']:before, [class^=ch-icon-]:before {
    left: 0;
}
.ch-box-list li a:after, .ch-tag:after, [class*=ch-icon-]:before {
    font-family: icons;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
}

.star-icon-hidden-input {
    display: none;
}
user agent stylesheet
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
.star-icon-full:before, .star-icon-hidden-input:checked~.star-icon {
    color: #3483fa;
    background-position: -45px -102px;
}



.review-summary-average {
    color: #333;
    font-size: 64px;
    line-height: 48px;
    display: inline-block;
    vertical-align: top;
}
.review-summary-average+.review-summary-details {
    margin-left: 15px;
}
.review-summary-average+.review-summary-details {
    margin-left: 15px;
}
.review-summary-details {
    margin-left: 0;
}
.review-summary-details {
    display: inline-block;
    margin-left: 15px;
}

.vip-section-reviews .review-listing .review-tooltip-full-body {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    color: #666;
}
</style>
<section id="reviewsCard" class="vip-section-reviews ui-view-more main-section main-section--gradient /*w3-hover-opacity*/
">
  <div class="vip-card" data-component="reviews">
      
        
          <h2 class="main-section__title">Opiniones sobre este servicio</h2>
          
          
  <div class="card-section">
    
      <span class="review-summary-average">4.8</span>
      <span class="review-summary-details">
        <span class="star-container">
   
    <input type="radio" id="reviewFullStar0" name="qualification" value="5" class="star-icon-hidden-input" disabled="">
    <label for="reviewFullStar0" class="ch-icon-star star-icon star-icon-full"></label>

    <input type="radio" id="reviewFullStar1" name="qualification" value="4" class="star-icon-hidden-input" disabled="">
    <label for="reviewFullStar1" class="ch-icon-star star-icon star-icon-full"></label>

    <input type="radio" id="reviewFullStar2" name="qualification" value="3" class="star-icon-hidden-input" disabled="">
    <label for="reviewFullStar2" class="ch-icon-star star-icon star-icon-full"></label>

    <input type="radio" id="reviewFullStar3" name="qualification" value="2" class="star-icon-hidden-input" disabled="">
    <label for="reviewFullStar3" class="ch-icon-star star-icon star-icon-full"></label>

    <input type="radio" id="reviewFullStar4" name="qualification" value="1" class="star-icon-hidden-input" disabled="">
    <label for="reviewFullStar4" class="ch-icon-star star-icon star-icon-full"></label>
  
      </span>


        <div class="review-summary-average-legend">
          <span>Promedio entre</span>
          <span>14</span>
          <span>opiniones</span>
        </div>
      </span>
    
  </div>
  
    


  
    <div class="review-listing ">

    <article class="review-tooltip expanded" id="review5563753">

    <span class="star-container">
  
    <input type="radio" id="reviewFullStar0" name="qualification" value="5" class="star-icon-hidden-input" disabled="">
    <label for="reviewFullStar0" class="ch-icon-star star-icon star-icon-full"></label>
  
    <input type="radio" id="reviewFullStar1" name="qualification" value="4" class="star-icon-hidden-input" disabled="">
    <label for="reviewFullStar1" class="ch-icon-star star-icon star-icon-full"></label>
  
    <input type="radio" id="reviewFullStar2" name="qualification" value="3" class="star-icon-hidden-input" disabled="">
    <label for="reviewFullStar2" class="ch-icon-star star-icon star-icon-full"></label>
  
    <input type="radio" id="reviewFullStar3" name="qualification" value="2" class="star-icon-hidden-input" disabled="">
    <label for="reviewFullStar3" class="ch-icon-star star-icon star-icon-full"></label>
  
    <input type="radio" id="reviewFullStar4" name="qualification" value="1" class="star-icon-hidden-input" disabled="">
    <label for="reviewFullStar4" class="ch-icon-star star-icon star-icon-full"></label>
  
    </span>

      <h4 class="review-tooltip-title">Excelente</h4>
      
      <div class="review-tooltip-full-body">Realizo el entrepiso en mi pieza y quedo excelente, pintado y muy prolijo!! lo termino en 3 dias y dejo todo impecable! super recomendable!.</div>

  </article>

  <br/>

  <article class="review-element review-tooltip expanded">
        
    <span class="star-container">
  
    <input type="radio" id="reviewFullStar0" name="qualification" value="5" class="star-icon-hidden-input" disabled="">
    <label for="reviewFullStar0" class="ch-icon-star star-icon star-icon-full"></label>
  
    <input type="radio" id="reviewFullStar1" name="qualification" value="4" class="star-icon-hidden-input" disabled="">
    <label for="reviewFullStar1" class="ch-icon-star star-icon star-icon-full"></label>
  
    <input type="radio" id="reviewFullStar2" name="qualification" value="3" class="star-icon-hidden-input" disabled="">
    <label for="reviewFullStar2" class="ch-icon-star star-icon star-icon-full"></label>
  
    <input type="radio" id="reviewFullStar3" name="qualification" value="2" class="star-icon-hidden-input" disabled="">
    <label for="reviewFullStar3" class="ch-icon-star star-icon star-icon-full"></label>
  
    <input type="radio" id="reviewFullStar4" name="qualification" value="1" class="star-icon-hidden-input" disabled="">
    <label for="reviewFullStar4" class="ch-icon-star star-icon star-icon-full"></label>
  
    </span>
    <h4 class="review-tooltip-title">De primera</h4>
  
    <div class="review-tooltip-full-body">Cumplió en todo. En la calidad de los materiales, en la terminación, en los horarios y en los plazos. 
    Muy recomendable.</div>

  </article>

    </div>
  
    </div>
       
      <br />
       <a rel="nofollow" class="iframe-modal main-section__view-more w3-text-indigo" target="blank"
          href="https://servicio.mercadolibre.com.ar/noindex/catalog/reviews/MLA740604996?noIndex=true&amp;itemId=MLA740604996&amp;contextual=true&amp;access=view_all">


       Ver todas las opiniones

     
        </a>

  </section>

<!--meli selection-->
